asgiref==3.3.1
attrs==20.3.0
boto3==1.16.41
botocore==1.19.41
certifi==2020.12.5
chardet==4.0.0
-e git+git@github.com:FiniteStateInc/clearcode-toolkit.git@e87536babac2a3695046fc0b5513035706def3bf#egg=clearcode_toolkit
click==7.1.2
Django==3.1.4
djangorestframework==3.12.2
expiring-dict==1.1.0
idna==2.10
jmespath==0.10.0
jsonlines==1.2.0
packageurl-python==0.9.3
psycopg2==2.8.6
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.1
s3transfer==0.3.3
six==1.15.0
sortedcontainers==2.3.0
sqlparse==0.4.1
urllib3==1.26.2
